
//from compounds

			.dataTables_scrollHead {
				//overflow: visible !important ;
			}

			@media (min-width: 1200px) {
				.container {
					width: 95% !important;
				}
			}

			.dt-buttons {
				text-align: center !important;
				//margin:auto;
				margin-bottom: 20px;
				font-size: 20px;
			}

			.dt-button {
				background: radial-gradient(blue, transparent);
			}

			.tool-tip2 {
				display: inline-block;
				position: relative;
				float: right;
				position: relative;
				left: -8%;
				/* or right 50% */
				text-align: left;
				margin-left: 0.5em;
				float: right;
			}

			.tool-tip2 .tool-tip__icon {
				background: #bacabe;
				//background: #27b1f0;
				border-radius: 10px;
				cursor: pointer;
				display: inline-block;
				//font-style: italic;
				//font-family: times new roman;
				//height: 20px;
				line-height: 1.3em;
				text-align: center;
				width: 20px;
			}

			.tool-tip2 .tool-tip__info {
				display: none;
				//background: #262626;
				background: #fafafa;
				border: 1px solid #27b1f0;
				border-radius: 3px;
				font-size: 0.875em;
				padding: 1em;
				position: absolute;
				//left: 30px;
				//top: -20px;
				width: 250px;
				z-index: 4;
				right: 3px;
			}

			.tool-tip2 .tool-tip__info:before,
			.tool-tip .tool-tip__info:after {
				//content: "";
				position: absolute;
				left: -10px;
				//top: 7px;
				border-style: solid;
				border-width: 10px 10px 10px 0;
				border-color: transparent #27b1f0;
			}

			.tool-tip2 .tool-tip__info:after {
				//left: -8px;
				//border-right-color: #262626;
			}

			.tool-tip2 .tool-tip__info .info {
				display: block;
			}

			.tool-tip2 .tool-tip__info .info__title {
				color: #fa00f3;
			}

			.tool-tip2:hover .tool-tip__info,
			.tool-tip:focus .tool-tip__info {
				display: inline-block;
			}

			a:focus+.tool-tip2 .tool-tip__info {
				display: inline-block;
			}

			i {
				font-style: normal;
			}

			label {
				color: black;
			}

			input {
				color: black;
			}

			label {
				display: block;
				margin: 10px 0;
			}

			label span {
				display: inline-block;
				text-align: right;
				width: 100px;
			}
			
/*********************************************************************/
/*********************************************************************/
/*********************************************************************/
/*********************************************************************/
/*********************************************************************/
/*********************************************************************/
/*********************************************************************/

@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
  
.numbering {
  max-width: 350px;
  counter-reset: my-awesome-counter;
  list-style: none;
  padding-left: 40px;
}
.numbering li {
  margin: 0 0 0.5rem 0;
  counter-increment: my-awesome-counter;
  position: relative;
}
.numbering li::before {
  content: counter(my-awesome-counter);
  color: #fcd000;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  --size: 32px;
  left: calc(-1 * var(--size) - 10px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 0;
  transform: rotate(-10deg);
  background: black;
  border-radius: 50%;
  text-align: center;
  box-shadow: 1px 1px 0 #999;
}